<h2>Resend confirmation instructions</h2>

<div class="col-lg-5 col-md-7">

<%= bootstrap_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
<%= devise_error_messages! %>

<div class="field">
  <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
</div>

  <%= f.submit "Resend confirmation instructions",class: "btn btn-primary btn-block" %>

  <%# button_to "Resend confirmation instructions", f.submit, class: "btn btn-primary btn-md" %>

<% end %>

</div>
<br>

<%# render "devise/shared/links" %>
