

<blockquote>
  <p>Win today and we walk together forever</p>
  <small>FRED SHERO <cite title="Source Title">1974 Stanley Cup Finals</cite></small>
</blockquote>


<div class="col-xs-12 col-md-8 col-lg-3">
<h1>search for house</h1>

<%= bootstrap_form_for House.new,url: house_index_path do |f| %>
<%= f.text_field :street_address, icon: "house" %>
<br>
<%= f.text_field :zip %>
<br>
<%= f.submit "search for houses123" %>
<% end %>

</div>
