<p><%= @email.split("@").first %>!</p>

<p>
 Welcome to HouseMouse! I am so excited to see you join the family.
</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>
  Sincerely,
  Christopher Lai
</p>
